<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Blog with Comments</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My Blog</a>
    </nav>

    <div class="row w-75 pt-4 mx-auto">
        <div class="card w-100 col-12 mx-auto">
            <div class="card-body">
                <h3 class="card-title">{{ title }}</h5>
                    <hr />
                    <p class="card-text">{{ body }}</p>
            </div>
        </div>


        <div class="col-8 mt-4">
            <h5 >Comments</h5>
            <div id="comments">
                {% for comment in comments %}
                <div class="p-1 card my-1 ">
                    {{comment.text}}
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="col-4">
            <!--This is a spacer div-->
        </div>

        <div class="col-8 p-2">
            <form action="/comments" method="post">
                <div class="input-group w-75">
                    <span class="input-group-text">Add comment</span>
                    <textarea class="form-control" aria-label="With textarea" name="text"></textarea>
                </div>
                <input type="hidden" name="post_id" value="{{ post_id }}">
                <button type="submit" class="btn btn-primary">Submit</button>

               
            </form>
        </div>



        <!-- Add Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
        <!-- Add your custom JavaScript for handling comments -->

</body>

</html>